/*Base: Most broad, least specific, HTML, body, nav, aside, p, a, input*/
*{
  font-family: 'Lato', sans-serif;
  color: white;
}

div {
  height: 100em;
  width: 95%;
  margin: 0.2em;
  background-color: #003A6F;
  float:left;
}
h1{
font-size: 0em;
}

.title {
  text-align: center;
  font-size: 4em;
  padding-top: 0.2em;
  color: white;
}

.head{
  float: left;
}

.body{
  background-color: #B22222;
   float: right;
}

.about{
  background-color: #6EC5E9;
  float: left;
}

.foot{
  background-color:#7B4A12;
  float: right;
}

.contact{
  float: right;
}
